body {
    font-family: 'Source Sans Pro', sans-serif; 
}

header{
    height: 450px;
    background: #cccccc;
    background: url('../img/bg.jpg') center center;
    background-size: cover;
}

.logo{
    float: left;
    margin: 25px 0 0 30px;
}

nav {
    float: right;
    margin: 30px 30px 0 0;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover{
    color: #dcfbff;
}

header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0px;
    padding-top: 100px;
    clear: both;
}

.description{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
}

.arrow-down{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.arrow-down::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff; 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 1s arrow infinite ease;
    animation: 1s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100%{
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

@keyframes arrow {
    0%, 100%{
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

/*ABOUT ME*/
.aboutme{
    background-color: #d7f0e4;
    background-size: cover;
}

.face img{
    display: block;
    margin: 20px auto;
}

.aboutme h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    padding: 40px;
    margin: 0;
}

.aboutme p{
    font-size: 20px;
    font-weight: 700;
    color: #463434;
    margin: 0;
    padding: 10px 25%;
    text-align: justify;
}

.skills{
     padding: 0 25%;
}

.skills ul{
    list-style-position: inside;
    -webkit-column-count: 2; 
    column-count: 2;
    display: inline-block;
    padding: 0;
    margin-bottom: 20px;
}

.skills ul li {
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    color: #463434;
}

/*PORTFOLIO*/
.portfolio{
}

#work-container .box{
    float:left;
    text-align: center;
    width: 20%;
}

#work-container .box p{
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 10%;
}

#work-container .box img:hover{
    -webkit-filter: brightness(70%);
}

.portfolio h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 40px;
}
/*CONTACT*/
.contactme{
    background-color: #463434;
}

.contactme h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 10px;
}
/*FOOTER*/
footer {
    background-color: black;
    background-size: cover;
}

.footer_container{
    padding:0px 20px;
}

.left{
    float: left;
    width: 33%;
}

.center {
    overflow: hidden;
}

.right{
    float: right;
    width: 33%;
}

.contact h4{
    color: white;
    font-size: 20px; 
    text-align: left;
    margin: 20px;
}

.contact p{
    color: white;
    font-size: 12px;
    font-weight: 700; 
}

.contact a:hover{
   -webkit-filter: brightness(70%);
}

.map{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.address{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.mail {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.email{
    display: inline-block;
}

.social{
    width: 50%;
}

.box1{
    float:left;
    text-align:right;
    width: 33%
}

.box2{
    float:left;
    text-align:center;
    width: 30%
}

.box3{
    float:left;
    text-align:left;
    width: 30%
}

.social h4{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700; 
    margin: 20px;
}

.social a:hover{
   -webkit-filter: brightness(70%);
}


.copyright{
    clear: both;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 640px){
    
    .arrow-down{
        margin-top: 500px;
    }
    
    .face img{
        display: block;
        width: 100%;
    }
    
    .skills ul{
        list-style-position: inside;
        -webkit-column-count: 1; 
        column-count: 1;
    }
    
    .map, .mail{
        margin-left: 20px;
    }
    
    .address{
        display: none;
    }
    
    .email{
        display:none;
    }
    
    #work-container .box, .box1, .box2, .box3{
        float:none;
        text-align: center;
        width: 100%;
    }
    
    
}