body {
    font: 15px/1.5 Lato, sans-serif;
    padding: 0;
    margin: 0;
    background: white;
    animation: fadeIn 3s;
   
}

a {
    text-decoration: none;
}

h3 {
    font: 15px/1.5 Rubik, sans-serif;
}

img{
    display: block;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.container{
    width:80%;
    margin: 0 auto;
    overflow:hidden;
}

header {
    width: 100%;
    top: 0;
    padding-top: 10px;
    color:white;
    min-height: 70px;
    border-bottom: #0dbc8d 4px solid;
    background: black;
    position:fixed;
}

.logo{
    float: left;
    font-size: 15px;
    margin: 0;
}

header li a {
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-top: 18px;
}

header nav{
    float: right;
    margin-top: 5px;
}

header a:hover{
    color:#dddddd;
    font-weight:bold;
    
}

#wrapper{
    max-width: 80%;
    margin: 0 auto;
}

#inner-wrapper{
    background:#fbfbfb;
}

#showcase{
    min-height: 400px; 
    background: #fbfbfb 0 -300px;
    text-align: center;
    margin-top: 100px;x
}

#showcase img {
    margin-top: 50px;
}

#showcase h1{
    font: 15px/1.5 Rubik, sans-serif;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase h3{
    border-top: #0dbc8d 4px solid;
}

#showcase p{
    font-size: 20px;
}

#boxes{
}

#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 125px;
}

#boxes .box img:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.15);
    
}

.clearwrapper{
    clear:both;
    padding:1%;
}

#main{
    font-family: Roboto, sans-serif;
    float:right;
    margin: 0 auto;
    width: 60%;
    height: auto;
    padding: 1%;
    background: #fbfbfb;
}

#main h3{
    font-size: 20px;
}

#sidebar {
    float: left;
    margin: 0 auto;
    width: 32%;
    height: auto;
}

#sidebar img{
    width: 470px;
}

.one-third-padding{
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
    background: #fbfbfb;
    border-top: #0dbc8d 4px solid;
}

footer{
    font-family: Lato, sans-serif;
    width: 100%;
    height:200px;
    margin-top:300px;
    color:white;
    background: black;
    border-top: #0dbc8d 4px solid;
}

#foot{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#foot h3{
    font: 15px/1.5 Rubik, sans-serif;
}

.social {
    float: left;
    margin-top: 10px;
}

.resume{
    float:left;
    margin-top: 10px;
    margin-left: 25px;
}

.contact{
    float:left;
    margin-top: 10px;
    margin-left:25px;
}

a.social{
    margin-right: 15px;
}

#copyright{
    float:left;
    list-style:none;
    width:100%;
    background: black;
}

.copyright{
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media(max-width: 768px){
    header .logo, 
    header nav, 
    header nav li,
    #boxes .box{
        float:none;
        text-align: center;
        width: 100%;
    }
    
    header{
        padding-bottom: 20px;
    }
    
    #showcase {
        font-size: 30%;
    }
    
    #showcase img{
        margin-top:100px;
        width: 80%;
        height: auto;
    }
}