html, body{
  width: 100%;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

.hero-index{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('/img/main5.jpg');
}

.hero-index-content{
  color: white;
  max-width: 500px;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}

#begin{
  font-size: 150%;
  margin: 0;
}

#name{
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 500%;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0 0 10px 0;
}

.butn {
  font-family: 'Raleway', 'sans-serif';
  background-color: rgba(0,0,0,0); /* Blue */
  border: 2px solid rgb(0, 53, 112);
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing:0.1em;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.butn:hover {
  background-color: rgb(0, 53, 112);
  color: white; 
  text-decoration: none;
  border: 2px solid rgb(0, 53, 112);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.sm{
  padding: 20px 10px 0 10px;
  opacity: 0.5;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.sm:hover{
  opacity: 1;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.gp{
  width: 55px;
}

.fb{
  width: 45px;
}

.ig, .gh, .li{
  width: 50px;
}

.hero-portfolio{
  height: 100%;
  width: 100%;
}


.hero-profile-content{
  width: 100%;
  height: 100%;
}

.homebtn{
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.homebtn:hover{
  color: rgb(0, 209, 125);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.aboutme{
  width: 100%;
  height: 300px;
  background: url('/img/about8.jpg');  
  background-attachment: fixed;
  background-position: 50% calc(50% - 500px);
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  font-family: 'Raleway', 'sans-serif';
  text-align: center;
  font-size: 8vh;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  color: white;
}

.aboutme span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}

span a, span a:hover{
  text-decoration: none;
  color: white;
}

.aboutme-details{
  width: 100%;
  height: 475px;
  background: #F2F2F2;
}

#aboutdet{
  margin: 0;
  color: rgb(0, 209, 125);
  padding-top: 100px;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  text-align: left;
}

.avatar{
  padding: 100px 50px 0 100px;
  width: 40%;
}

.avatar img{
  float: right;
  width: 260px;
}

.portfolio{
  width: 100%;
  padding-bottom: 50px;
}

.portfolio h1{
  margin: 0;
}

.p-title{
  padding-top: 20px;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #777;
}

.p-description{
  padding-top: 10px;
  letter-spacing: 0.05em;
}

#port-bg{
  padding: 100px 0;
  background: url('/img/about.jpg');
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#port-title{
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 8vh;
  letter-spacing: 0.05em;
  color: white;
  text-align: center;
}

#content {
  margin: 50px 150px 0 150px;
  position:relative;
}
#content:before, #content>:first-child:before {
    position:absolute; 
    content:'';
    width:150px; height: 150px;
    border-color:#777; /* or whatever colour */
    border-style:solid; /* or whatever style */
}

#content:after, #content>:first-child:after {

}

#content:before {top:-20px; left:-20px;border-width: 10px 0 0 10px;}
#content:after {top:0;right:0;border-width: 8px 8px 0 0}
#content>:first-child:before {bottom:-20px;right:-20px;border-width: 0 10px 10px 0}
#content>:first-child:after {bottom:0;left:0;border-width: 0 0 8px 8px}

.projects{
  padding: 20px 50px;
  width: 100%;
}

.photos{
  padding: 0 100px;
  /* Prevent vertical gaps */
  -webkit-column-count: 4;
  -webkit-column-gap:   10px;
  -moz-column-count:    4;
  -moz-column-gap:      10px;
  column-count:         4;
  column-gap:           10px;  
}

.photos figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.photos figure img {
  position: relative;
  display: block;
  height: auto !important;
  width: 100%; !important;
  opacity: 0.8;
}

.photos figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: -50px;
}

.photos figure figcaption::before,
.photos figure figcaption::after {
  pointer-events: none;
}

.photos figure figcaption,
.photos figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
.photos figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.photos figure h2 {
  font-weight: 300;
}

.photos figure h2 span {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.photos figure h2,
.photos figure p {
  margin: 0;
}

.photos figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-apollo {
  background: #222222;
  margin-top: 10px;
}

figure.effect-apollo img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05,1.05,1);
  transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-apollo h2 {
  text-align: left;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

figure.effect-apollo:hover h2 {
  text-align: left;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

figure.effect-apollo:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.resume{
  padding: 100px;
  width: 100%;
  background: #f2f2f2;
  height: auto;
}

#res-title{
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 8vh;
  letter-spacing: 0.05em;
  color: black;
  text-align: center;
}

#res-desc{
  text-align: center;
  font-size: 3.5vh;
}

#res-desc:before, #res-desc:after {
  content:'';
  width:10%;
  margin: 0 20px;
  border-bottom:#777 solid;
  display:inline-block;
  vertical-align:middle;
}

.job{
  padding: 20px 0;
}

.job img{
  display: block;
  width: 100%;
  border-radius: 10%;
}

.border{
  float: right;
  width: 45%;
}

.job h2, .job p{
  text-align: left;
  margin: 0;
  letter-spacing: 0.05em;
}

.job-container{
  width: 600px;
}

#job-title{
  font-family: 'Raleway', 'sans-serif';
  padding-bottom: 10px;
  font-size: 2.5vh;
  color: #3a85ff;
}

#job-role{
  font-size: 1.7vh;
  padding-bottom: 10px;
  color: #6cba62;
}

#job-city{
  font-size: 1.5vh;
  color: #777;
  padding-bottom: 20px;
}

.git{
  width: 100%;
  background: #ffffff;
  height: auto;
  text-align: center;
  padding: 50px 0;
}

#git-title{
  color: #333;
}

#git-desc{
  color: #777;
  font-size: ;
  text-align: center;
}

.social-media2{
  text-align: center;
  vertical-align: middle;
}

.sm2{
  padding: 10px 10px 25px 10px;
}

.gp2, .gh2, .li2, .fb2, .ig2{
  width: 5%;
}

.sm-tran{
  opacity: 1;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.sm-tran:hover{
  opacity: 0.7;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-contain{
  width: 100%;
}

#contact-btn{
  display: inline-block;
  width: 250px;
  background: rgb(255, 96, 61);
  color: white;
  padding: 25px 25px;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1.5vh;
  text-decoration: none;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

#contact-btn:hover{
  background: rgb(255, 120, 100);
  color: #F1F1F1;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#contact-form {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

#contact-form-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* Keyframes */
@keyframes fadeInLeft{
  0%{
    opacity: 0;
    -moz-transform: translate3d(0, 0, 100%);
    -webkit-transform: translate3d(0, 0, 100%);
    -ms-transform: translate3d(0, 0, 100%);
    transform: translate3d(0, 0, 100%);
  }

  100%{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight{
  0%{
    opacity: 0;
    -moz-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100%{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown{
  0%{
    opacity: 0;
    -moz-transform: translate3d(0,-100%,0);
    -webkit-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }

  100%{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    -moz-transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }

  100%{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Animations */
.m-scene .scene-element{
  animation-duration: 0.4s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene-element--fadeinleft {
  animation-name: fadeInLeft;
}

.m-scene .scene-element--fadeinright {
  animation-name: fadeInRight;
}

.m-scene .scene-element--fadeinup {
  animation-name: fadeInUp;
}

.m-scene .scene-element--fadeindown{
  animation-name: fadeInDown;
}

.m-scene.is-exiting .scene-element {
  animation-direction: alternate-reverse;
}

/*RESUME*/


@media (max-width: 1200px) {
  .photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
}
@media (max-width: 1000px) {
  .photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 800px) {
  .photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  html, body{
    overflow: auto;
  }

  .aboutme{
    background-position: 50% calc(50% - 100px);
    padding: none;
  }

  .aboutme-details{
    height: auto;
    padding-bottom: 50px;
  }

  .avatar img{
    float: none;
  }

  #aboutdet{
    padding-top: 50px;
    letter-spacing: 0.3em;
    text-align: center;
  }

  .p-title{
    text-align: center;
    font-size: 2em;
  }

  .p-description{
    text-align: center;
    padding: 0 15px;
    margin-bottom: 10px;
  }

  #content{
    margin: 0;
  }

  #port-bg{
    background-attachment: initial;
  }


  #content:before, #content>:first-child:before {
    display: none;
  }

  .hero-index{
    background-size: cover;
  }

  .portfolio{
    padding-bottom: 0;
  }

  .projects{
    padding: 0;
  }

  .photos {
    padding: 0;
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }

  figure.effect-apollo{
    margin: 0;
  }

  .resume{
    padding: 100px 0;
  }

  #res-desc{
    font-size: 2vh;
  }

  .border{
    text-align: center;
    float: none;
    width: 100%;
  }

  .border img{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
  }

  .job-container{
    width: 100%;
    padding: 0 40px;
  }

  .job-container h2{
    text-align: center;
  }

  .job-container p{
    display: none;
  }

  .gp2, .gh2, .li2, .fb2, .ig2{
    width: 15%;
  }
}