<%- contentFor('hero') %>
<div id="main" class="hero m-scene">
	<div class="hero-content scene-element scene-element--fadeinleft">
		<div class="hero-index">
			<div class="hero-index-content">
				<p id="begin" class="scene-element scene-element--fadeindown"><em>Hi, I'm</em></p>
				<h1 id="name" class="scene-element scene-element--fadeindown">DARIAN LIO</h1>
				<a href="/portfolio" class="butn port scene-element scene-element--fadeinup">LEARN MORE ABOUT ME →</a>
				<div class="social-media scene-element scene-element--fadeinup">
					<a href="https://www.facebook.com/liodarian"><img class="sm fb" src="/img/icon/fb.png"></a>
					<a href="https://plus.google.com/u/0/116794427349586014234"><img class="sm gp" src="/img/icon/gp.png"></a>
					<a href="https://github.com/darianlio"><img class="sm gh" src="/img/icon/gh.png"></a>
					<a href="http://instagram.com/notdurian"><img class="sm ig" src="/img/icon/ig.png"></a>
					<a href="https://www.linkedin.com/in/darianlio"><img class="sm li" src="/img/icon/li.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>