
<%- contentFor('hero') %>
<div id="main" class="hero m-scene">
	<div class="hero-content scene-element scene-element--fadeinright">
		<div class="hero-portfolio">
			<div class="hero-portfolio-content">
				<div class="aboutme">
					<span><a href="/">← Home</a></span>
					<h1 id="about">ABOUT</h1>
				</div>
				<div class="aboutme-details">
					<div class="row">
						<div class="col-sm-12 col-md-6 avatar">
							<img src="/img/profile.jpg" alt="Avatar">
						</div>
						<div class="col-sm-12 col-md-6 ">
							<h2 id="aboutdet" class="scene-element scene-element--fadeindown">HELLO WORLD !</h2>
							<p class="p-title scene-element scene-element--fadeindown">I'm a Software Developer</p>
							<p class="p-description scene-element scene-element--fadeinup">
								<strong>Background:</strong> Toronto, ON, CA
								<br>
								<strong>Language:</strong> English, Cantonese
								<br>
								<strong>Hobbies:</strong> Fitness, Guitar, Basketball, Volleyball, Billiards, Video Games
								<br>
								<strong>Education:</strong> 4th Year - B.ASc for Computer Engineering 2019 - Queen's University
								<br>
								<strong>Technical Skill:</strong> Java, C++/C, JavaScript, HTML/CSS/PHP, SQL, VHDL/Verilog
								<br>
								<strong>Platform:</strong> Windows, Mac OS X, Linux, Android, iOS
								<br>
								<strong>Software:</strong> Eclipse, Visual Studio, Sublime, Git, Visual Studio, Photoshop, MATLAB, Altera Quartus</p>
						</div>
					</div>
				</div>
				<div class="portfolio">
					<h2 id="port-title">Here's what I've done so far</h2>
				</div>
				<div class="git">
					<h2 id="git-title">Let's get in touch!</h2>
				</div>
			</div>
		</div>
	</div>
</div>