
<%- contentFor('hero') %>
<div id="main" class="hero m-scene">
	<div class="hero-content">
		<div class="hero-portfolio">
			<div class="hero-portfolio-content scene-element scene-element--fadeinright">
				<div class="aboutme">
					<span><a href="/" class="homebtn">← Home</a></span>
					<h1 id="about">ABOUT</h1>
				</div>
				<div class="aboutme-details">
					<div class="row">
						<div class="col-sm-12 col-md-6 avatar">
							<img src="/img/profile.jpg" alt="Avatar">
						</div>
						<div class="col-sm-12 col-md-6 ">
							<h2 id="aboutdet">HELLO WORLD !</h2>
							<p class="p-title">I'm a Software Engineer.</p>
							<p class="p-description">
								<strong>Background:</strong> Toronto, ON, CA
								<br>
								<strong>Language:</strong> English, Cantonese
								<br>
								<strong>Hobbies:</strong> Fitness, Guitar, Basketball, Volleyball, Billiards, Video Games
								<br>
								<strong>Education:</strong> 4th Year - B.ASc for Computer Engineering 2019 - Queen's University
								<br>
								<strong>Technical Skill:</strong> Java, C++/C, JavaScript, HTML/CSS/PHP, SQL, VHDL/Verilog
								<br>
								<strong>Platform:</strong> Windows, Mac OS X, Linux, Android, iOS
								<br>
								<strong>Software:</strong> Eclipse, Visual Studio, Sublime, Git, Visual Studio, Photoshop, MATLAB, Altera Quartus</p>
						</div>
					</div>
				</div>
				<div class="portfolio">
					<div id="content">
						<div id="port-bg">
							<h1 id="port-title">PROJECTS</h1>
						</div>
					</div>
					<div class="projects">
						<div class="photos">
							<figure class="effect-apollo">
								<img src="/img/ThreeSigma.png">
								<figcaption>
									<h2><span>Three Sigma</span></h2>
									<p>HTML, CSS, JavaScript, Node.js</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/atm.png">
								<figcaption>
									<h2><span>Banking Sim</span></h2>
									<p>Java, Windows Batch</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/calendar.jpg">
								<figcaption>
									<h2><span>iCal Parser</span></h2>
									<p>C++</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/pig.png">
								<figcaption>
									<h2><span>Game of Pig</span></h2>
									<p>Java</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/library.jpg">
								<figcaption>
									<h2><span>Queen's Library System</span></h2>
									<p>Java, JavaFX</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/ease.png">
								<figcaption>
									<h2><span>E's</span></h2>
									<p>XML, CSS, Photoshop, Android Studio, Firebase</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/robot.png">
								<figcaption>
									<h2><span>Autonomous Robot</span></h2>
									<p>Arduino</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/OMTS.png">
								<figcaption>
									<h2><span>OMTS</span></h2>
									<p>HTML, CSS, PHP, MySQL</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/matrix.png">
								<figcaption>
									<h2><span>Matrix Calc</span></h2>
									<p>Java</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/rgb.png">
								<figcaption>
									<h2><span>RGB Game</span></h2>
									<p>HTML, CSS, JavaScript</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/uber.jpg">
								<figcaption>
									<h2><span>Uber Algorithm</span></h2>
									<p>Java</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/patatapclone.png">
								<figcaption>
									<h2><span>Patatap Clone</span></h2>
									<p>HTML, CSS, JavaScript</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/ss.jpg">
								<figcaption>
									<h2><span>Shakespeare Insult Generator</span></h2>
									<p>Java</p>
									<a href="#">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
				</div> 
				<div class="git">
					<h2 id="git-title">Let's get in touch!</h2>
					<p id="git-desc">Contact me on the platform that works best for you.</p>
					<div class="social-media2">
						<a class="sm-tran" href="https://www.facebook.com/liodarian"><img class="sm2 fb2" src="/img/icon/fb2.png"></a>
						<a class="sm-tran" href="https://plus.google.com/u/0/116794427349586014234"><img class="sm2 gp2" src="/img/icon/gp2.png"></a>
						<a class="sm-tran" href="https://github.com/darianlio"><img class="sm2 gh2" src="/img/icon/gh2.png"></a>
						<a class="sm-tran" href="http://instagram.com/notdurian"><img class="sm2 ig2" src="/img/icon/ig2.png"></a>
						<a class="sm-tran" href="https://www.linkedin.com/in/darianlio"><img class="sm2 li2" src="/img/icon/li2.png"></a>
					</div>
					<a href="/portfolio" class="contact-btn">CONTACT ME</a>
				</div>
			</div>
		</div>
	</div>
</div>