
<%- contentFor('hero') %>
<section class="hero hero-portfolio">
	<div class="hero-content hero-portfolio-content">
		<div class="aboutme">
			<h2>A little bit about me.</h2>
		</div>
		<div class="portfolio">
			<h2>Here's what I've done so far</h2>
		</div>
	</div>
</section>