
<%- contentFor('hero') %>
<div id="main" class="hero m-scene">
	<div class="hero-content">
		<div class="hero-portfolio">
			<div class="hero-portfolio-content scene-element scene-element--fadeinright">
				<div class="aboutme">
					<span><a href="/" class="homebtn">← Home</a></span>
					<h1 id="about">ABOUT</h1>
				</div>
				<div class="aboutme-details">
					<div class="row">
						<div class="col-xs-12 col-s-5 col-md-6 avatar">
							<img src="/img/profile.jpg" alt="Avatar">
						</div>
						<div class="col-xs-12 col-s-7 col-md-6 side">
							<h2 id="aboutdet">HELLO WORLD !</h2>
							<p class="p-title">I'm a Software Engineer.</p>
							<p class="p-description">
								<strong>Background:</strong> Toronto, ON, CA
								<br>
								<strong>Language:</strong> English, Cantonese
								<br>
								<strong>Hobbies:</strong> Fitness, Guitar, Basketball, Volleyball, Billiards, Video Games
								<br>
								<strong>Education:</strong> 4th Year - B.ASc for Computer Engineering 2019 - Queen's University
								<br>
								<strong>Technical Skill:</strong> Java, C++/C, JavaScript, HTML/CSS/PHP, SQL, VHDL/Verilog
								<br>
								<strong>Platform:</strong> Windows, Mac OS X, Linux, Android, iOS
								<br>
								<strong>Software:</strong> Eclipse, Visual Studio, Sublime, Git, Visual Studio, Photoshop, MATLAB, Altera Quartus</p>
						</div>
					</div>
				</div>
				<div class="portfolio">
					<div id="content">
						<div id="port-bg">
							<h1 id="port-title">PROJECTS</h1>
						</div>
					</div>
					<div class="projects">
						<div class="photos">
							<figure class="effect-apollo threesigma">
								<img src="/img/ThreeSigma.png">
								<figcaption>
									<h2><span>Three Sigma</span></h2>
									<p>HTML, CSS, JavaScript, Node.js</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/atm.png">
								<figcaption>
									<h2><span>Banking Sim</span></h2>
									<p>Java, Windows Batch</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/calendar.jpg">
								<figcaption>
									<h2><span>iCal Parser</span></h2>
									<p>C++</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/pig.png">
								<figcaption>
									<h2><span>Game of Pig</span></h2>
									<p>Java</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/library.jpg">
								<figcaption>
									<h2><span>Queen's Library System</span></h2>
									<p>Java, JavaFX</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/ease.png">
								<figcaption>
									<h2><span>E's</span></h2>
									<p>XML, CSS, Photoshop, Android Studio, Firebase</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/robot.png">
								<figcaption>
									<h2><span>Autonomous Robot</span></h2>
									<p>Arduino</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo omts">
								<img src="/img/OMTS.png">
								<figcaption>
									<h2><span>OMTS</span></h2>
									<p>HTML, CSS, PHP, MySQL</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/matrix.png">
								<figcaption>
									<h2><span>Matrix Calculator</span></h2>
									<p>Java</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/rgb.png">
								<figcaption>
									<h2><span>RGB Game</span></h2>
									<p>HTML, CSS, JavaScript</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/uber.jpg">
								<figcaption>
									<h2><span>Uber Algorithm</span></h2>
									<p>Java</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo patatap">
								<img src="/img/patatapclone.png">
								<figcaption>
									<h2><span>Patatap Clone</span></h2>
									<p>HTML, CSS, JavaScript</p>
								</figcaption>
							</figure>
							<figure class="effect-apollo">
								<img src="/img/ss.jpg">
								<figcaption>
									<h2><span>Shakespeare Insult Generator</span></h2>
									<p>Java</p>
								</figcaption>
							</figure>
						</div>
					</div>
				</div> 
				<div class="resume">
					<h1 id="res-title">RESUME</h1>
					<p id="res-desc">Here is what I've done so far</p>
					<div class="job">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5 job-img">
								<div class="border">
									<img src="/img/ibm.jpg">
								</div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7 job-container">
								<h2 id="job-title">IBM Blueworks Live</h2>
								<h2 id="job-role">Software Developer Intern, <em>Since May 2018</em></h2>
								<h2 id="job-city">Markham, ON, Canada</h2>
								<p id="job-description">
									IBM has given me life through their organizational values that shape their culture. I have been given the opportunity to be surrounded by inspiring individuals that helped push me to my limits. In my Blueworks Live team, I focused on developing tests for the product functions relating to REST API and Selenium by utilizing Java and OOP in automation. I also assisted in designing manual instructions, as well as defect verifications on various test environments and browsers. In doing so, I utilized the Linux shell to modify the testing database in SQL, refresh servers, and REST API’s, and review error logs.

								</p>
							</div>
						</div>
					</div>
					<div class="job">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5 job-img">
								<div class="border">
									<img src="/img/asi.png">
								</div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7 job-container">
								<h2 id="job-title">ASI</h2>
								<h2 id="job-role">Product Technician, <em>Summer 2017</em></h2>
								<h2 id="job-city">Markham, ON, Canada</h2>
								<p id="job-description">
									ASI is an environment that provides you with the motivation to work hard. At ASI, I worked as a technician to multiple build computers and servers for many clients in time-limited deadlines. Moreover, I was also required to conduct compute troubleshooting, CPU/GPU/RAM stress tests, driver installations, BIOS/RAID setup, drive cloning and recovery. In not so busy days, I helped the RMA team to repair computer components. This experience gave me a strong familiarity in computer hardware, time well spent.
								</p>
							</div>
						</div>
					</div>
					<div class="job">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5 job-img">
								<div class="border">
									<img src="/img/dmt.jpg">
								</div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7 job-container">
								<h2 id="job-title">DM&T Services</h2>
								<h2 id="job-role">Computer Assistant <em>Summer 2014</em></h2>
								<h2 id="job-city">Richmond Hill, ON, Canada</h2>
								<p id="job-description">
									DM&T was the beginning of my development career. During the short time I was there, they provided me with 
									the opportunity to build multiple web applications, build/solder circuit boards and test their products. The team's passion brought me enjoyment in software development and inspired me to pursue engineering.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="git">
					<h2 id="git-title">Let's get in touch!</h2>
					<p id="git-desc">Contact me on the platform that works best for you.</p>
					<div class="social-media2">
						<a class="sm-tran" href="https://www.facebook.com/liodarian"><img class="sm2 fb2" src="/img/icon/fb2.png"></a>
						<a class="sm-tran" href="https://plus.google.com/u/0/116794427349586014234"><img class="sm2 gp2" src="/img/icon/gp2.png"></a>
						<a class="sm-tran" href="https://github.com/darianlio"><img class="sm2 gh2" src="/img/icon/gh2.png"></a>
						<a class="sm-tran" href="http://instagram.com/notdurian"><img class="sm2 ig2" src="/img/icon/ig2.png"></a>
						<a class="sm-tran" href="https://www.linkedin.com/in/darianlio"><img class="sm2 li2" src="/img/icon/li2.png"></a>
					</div>
					<div class="button-contain">
						<a href="/contact" id="contact-btn">CONTACT ME TODAY</a>
					</div>
					<div id="contact-form">
						<form action="/contact" id="contact-form-content" method="post" role="form">
						  <fieldset>
						    <label for="name">Name &#42;</label>
						    <input id="name" name="name" type="text" placeholder="Your name" required="required">
						    <label for="email">Email &#42;</label>
						    <input id="email" name="email" type="text" placeholder="Your email" required="required">
						    <label for="message">Message &#42;</label>
						    <textarea id="message" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
						    <button type="submit">Submit</button>
						  </fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>