
<%- contentFor('hero') %>
<div id="main" class="hero m-scene">
	<div class="hero-content scene-element scene-element--fadeinright">
		<div class="hero-portfolio">
			<div class="hero-portfolio-content">
				<div class="aboutme">
					<span><a href="/">← Home</a></span>
					<h1 id="about">ABOUT</h1>
				</div>
				<div class="aboutme-details">
					<h2 id="aboutdet"><--- Here are my details! ---></h2>
					<img src="/img/profile.jpg" class="scene-element scene-element--fadeinup" alt="Avatar">
					<p class="p-title">Software Developer / Computer Engineer</p>
					<p class="p-description">B.ASc Queen's University 2019</p>
					<p class="p-hi"></p>
				</div>
				<div class="portfolio">
					<h2>Here's what I've done so far</h2>
				</div>
			</div>
		</div>
	</div>
</div>