
<%- contentFor('hero') %>
<section class="hero hero-portfolio .scene_element--fadeinright">
	<div class="hero-content hero-portfolio-content">
		<div class="aboutme">
			<h1 id="about">ABOUT</h1>
		</div>
		<div class="aboutme-details">
			<h2 id="aboutdet"><--- Here are my details! ---></h2>
			<img src="/img/profile.jpg" alt="Avatar">
			<p class="p-title">Software Developer / Computer Engineer</p>
			<p class="p-description">B.ASc Queen's University 2019</p>
			<p class="p-hi"></p>
		</div>
		<div class="portfolio">
			<h2>Here's what I've done so far</h2>
		</div>
	</div>
</section>