<%- contentFor('hero') %>
<div id="main" class="hero m-scene">
	<div class="hero-content scene-element scene-element--fadeinleft">
		<div class="hero-index">
			<div class="hero-index-content">
				<p id="begin" class="scene-element scene-element--fadeindown"><em>Hi, I'm</em></p>
				<h1 id="name" class="scene-element scene-element--fadeindown">DARIAN LIO</h1>
				<a href="/portfolio" class="btn port scene-element scene-element--fadeinup"> PORTFOLIO </a>
				<a href="/resume" id="res" class="btn scene-element scene-element--fadeinup"> RESUME </a>
			</div>
		</div>
	</div>
</div>