<%- contentFor('hero') %>
<section class="hero hero-index">
	<div class="hero-content hero-index-content">
		<p id="begin"><em>Hi, I'm</em></p>
		<h1 id="name">DARIAN LIO</h1>
		<a href="/portfolio" class="btn port"> PORTFOLIO </a>
		<a href="/resume" id="res" class="btn"> RESUME </a>
	</div>
</section>